body {
    background-color: aliceblue;
    text-align: center;
}

#headline {
    border-bottom: dotted 2px #f89174;
}

#question {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
}